<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		

		<!-- Assume test is the database name -->

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pointofsales</property>

		<property name="hibernate.connection.username">root</property>

		<property name="hibernate.connection.password">gokul</property>
		<property name="connection.pool_size">5</property>
		
		
		 <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="com.algol.PointOfSales.dao.StocksMasterDao" />
        <mapping class="com.algol.PointOfSales.dao.ShopMasterDao" />
        <mapping class="com.algol.PointOfSales.dao.UserDetailsDao" />

	</session-factory>
</hibernate-configuration>